@media only screen and (max-width: 768px) {
  /* body {
    width: 100%;
  } */
  .sitebar {
    display: none;
  }
  .sitebar.show {
    display: block;
  }
  .sitebar_fix{
    height: 100vh;
  }
  .body_content {
    margin: 0;
    width: 100%;
  }
  /* Style for the hamburger icon */
  .show-menu-btn span {
    width: 25px;
    height: 3px;
    background-color: #333;
    display: block;
    margin: 5px auto;
    transition: all 0.3s ease;
  }
  .show-menu-btn{
    display: block;
    padding: 5px 10px !important;
}

  .show-menu-btn.show span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .show-menu-btn.show span:nth-child(2) {
    opacity: 0;
  }

  .show-menu-btn.show span:nth-child(3) {
    transform: rotate(-50deg) translate(5px, -5px);
  }
  .Accounts_Related_Table_cont {
    overflow-x: auto;
  }

  .Accounts_Related_Table_cont table {
    width: 100%; 
    border-collapse: collapse; 
  }

  .sitebar {
    display: none;
}

.main_body_page {
    padding: 0 10px;
}

.body_content {
    margin-left: 0;
}

.Accounts_Related_date_time {
    display: block;
}

.Accounts_Related_screen_name li {
    display: block;
    padding-left: 0;
    font-size: 13px;
}

.Dashboard_index {
    display: block;
}

.Dashboard_index_menu li {
    width: 100%;
}

.Accounts_Related_Table_cont {
    overflow: scroll;
}

.Accounts_Related_Table_cont {
    overflow: scroll;
}

.Accounts_Related_Table_cont::-webkit-scrollbar {
    display: none;
}

.service_index_ul ul li {
    width: 46%;
}

.service_index_ul ul li a p {
    font-size: 13px;
}

.service_index_ul ul li a img {
    width: 23px;
    height: 23px;
}

.Dashboard_index_all_cont {
    padding-left: 0;
    margin-top: 15px;
}

.Dashboard_dail_box {
    margin-top: 15px;
}

.main_body_content {
    padding: 15px;
    margin-bottom: 12px;
}

.Accounts_Related_Table_from_to_date {
    display: block;
}

.Accounts_Related_Table_from_to_date.dihen_responsive {
    display: flex;
}

.Accounts_Related_Table_from_to_date .Table_from_to_date {
    width: 100%;
}

tr.table_heding th {
    padding: 4px 10px;
    font-size: 12px;
}

.Accounts_Related_Table_cont table td {
    padding: 4px 10px;
    font-size: 12px;
}

button {
    font-size: 13px;
    padding: 9px 14px;
    margin-bottom: 5px;
}

.Table_from_to_date input {
    padding: 6px 10px;
    width: 80%;
    font-size: 13px;
}

.Table_from_to_date {
    margin-right: 0;
    margin-bottom: 8px;
}

.Table_from_to_date {
    justify-content: space-between;
}

.Accounts_Related_Total span {
    width: 90px;
    padding: 4px 9px;
    margin-left: 8px;
    font-size: 13px;
    height: 32px;
}

.Accounts_Related_screen_name span {
    font-size: 14px;
}

.total_flex_amount {
    margin-left: 7px;
    margin-top: 5px;
}

.Financial_Accounts_Related_Total {
    flex-wrap: wrap;
}

.Financial_Accounts_Related_Total span {
    border: 1px solid #d6e3f5;
    padding: 4px 9px;
    margin-left: 0;
    font-size: 13px;
}

.Financial_Accounts_Related_Total p {
    font-size: 13px;
    width: fit-content;
    text-align: start;
    margin-right: 8px;
}

.Accounts_Related_Table_toal_am {
    margin-top: 12px;
}

.Farmer_Name_input input {
    width: 68%;
}

.Farmer_Name_input a {
    width: 135px;
    font-size: 12px;
    font-weight: 400;
}

.Farmer_Related_add_ress_grid {
    display: block;
}

.Farmer_Related_add_ress_box {
    padding: 22px 15px;
    width: 100%;
    border-top-right-radius: 8px;
}

.Farmer_Related_add_ress_box:last-child {
    width: 100%;
    border-top-right-radius: 0px;
}

.Farmer_Related_add_ress_box span {
    font-size: 13px;
}

.Farmer_Related_add_ress_box h4 {
    padding: 5px 0;
    font-size: 18px;
}

.Farmer_Related_add_ress_box p {
    font-size: 12px;
}

.responsive_table {
    overflow: scroll;
}

.responsive_table::-webkit-scrollbar {
    display: none;
}

.Farmer_Related_Signature {
    padding: 12px 15px;
    padding-bottom: 50px;
}

.Farmer_Related_Signature p {
    font-size: 12px;
}

.Farmer_Related_table_singel td,
.Farmer_Related_table_singel th {
    padding: 6px 15px;
    font-size: 12px;
}

.Payments_entry_grid {
    width: 100% !important;
}

.Payments_entry_cont {
    display: block;
}

.Payments_entry_grid.entry_grid_second {
    margin-left: 0px;
}

.text_arey_type_with_box {
    height: 80px;
    width: 100% !important;
}

.user_name p {
    font-size: 13px;
}

.Farmer_Patti_Payment_details input {
    width: 100%;
    height: 37px;
    font-size: 13px;
    padding: 0 12px;
}

.Farmer_Patti_Payment_details_grid {
    display: block;
}

.Farmer_Patti_Payment_details_grid p {
    margin-left: 0;
}

.Setup li {
    width: 46%;
    margin-bottom: -9px;
}

.responsive_former_table {
    overflow: scroll;
}

.responsive_former_table::-webkit-scrollbar {
    display: none;
}
.Payments_entry_form span {
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    max-width: 119px;
    width: 100%;
    text-align: end;
}
.voucher-input {
    margin-left: 0px;
}
.input_width_S {
    margin: 0 !important;
}
.show_btn{
    margin-top: 15px;
    margin-left: 130px;
}
.Farmer_Patti_Payment_details .input-group{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}
.Farmer_Patti_Payment_details .input-group span {
    font-size: 14px;
    font-weight: 400;
    width: 248px;
}
.cheque-btn{
    margin-left: 130px !important;
}
.Payments_entry_grid {
    width: 100%;
}
.show-button {
    margin: 0px 0px 0px 10px !important;
}
.farmer-advance-pay{
  font-size: 10px !important;
  text-align: start !important;
}
.print_button {
    flex-wrap: wrap;
}
.input-name-loni{
    width: 250px !important;
}
.header {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 25px 10px;
    width: 100%;
}

.user_name p {    
    font-size: 14px !important; 
}
.margin-0{
    margin: 0 !important;
}
.total_amn_width{
    width: 100% !important;
}
.date_inputs_resolve{
    width: 45px;
}
.display_button{
    margin-bottom: 0 !important;
}
.user_login li {
    display: inline-block;
    padding-left: 5px;
}

}
